@font-face {
  font-family: "VT323";
  src:
    url("/fonts/VT323-Regular.woff2") format("woff2"),
    url("/fonts/VT323-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
